
body::before {
    display: block;
    content: '';
    height: 60px;
}

.mapouter {
    position:relative;
    text-align:right;
    height: 300px;
    width: 700px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 700px;
}


@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

ul {
    list-style-type: none;
}
