
body::before {
    display: block;
    content: '';
    height: 60px;
}

.intro-text {
    color: white
}
.mapouter {
    position:relative;
    text-align:right;
    height: 300px;
    width: 700px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 700px;
}


@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

ul {
    list-style-type: none;
}

/* accordion FAQs */
.fa-caret-right {
    transition: all .4s ease;
}

.active .fa-caret-right {
    transform: rotate(90deg);
}

 /* Pen decoration */
body {
    background-color: #f5f5f5;
}

.panel-title a {
    text-decoration: none;
}
.panel-body {
    background-color: white;
}
.panel {
    border: 2px solid;
    border-radius: 5px;
    border-color: #bbbbbb;
    margin-bottom: 5px;
}